/*

	375px 													1614px(min-width)
	|--------------------------------------------------------|∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞>>>

*/

/* https://www.youtube.com/watch?v=ctiDWDq7C8E */
@media only screen and (min-width: 1614px) {

	.ct-pagination {
		align-items: center;
		/* border: 5px solid orange; */
		border-radius: 2px;
		bottom: 0;
		display: flex;
		height: 60px;
		justify-content: space-around;
		position: fixed;
		width: 50vw;
	}

	.ct-buttons {
		align-items: center;
		border-radius: 8px;
		background-color: #66B175;
		display: flex;
		height: 100%;
		justify-content: space-around;
		min-width: 100%;
		width: 100%;
	}


	.btn-pagination {
		border: none;
		border-radius: 12px;
		background-color: #1e1e1e;
		color: #66B175;
		font-size: 20px;
		font-weight: 700;
		height: 45px;
		width: 110px;
	}


	.btn-next {
		border: none;
		border-radius: 12px;
		background-color: #1e1e1e;
		font-size: 20px;
		font-weight: 700;
		color: #66B175;
		height: 45px;
		width: 110px;
	}

	.div-pagination {
		align-items: center;
		border-radius: 8px;
		display: flex;
		justify-content: center;
		background-color: #1e1e1e;
		height: 45px;
		width: 20%;
	}

	.div-pagination span{
		color: #66B175;
		font-size: 20px;
		font-weight: 700;
	}
}



/*

	375px 											1614px(min-width)
	|<<<∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞|-|∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞>>>
												1613px(max-width)
*/

@media (max-width: 1613px) {

	.ct-pagination {
		align-items: center;
		/* border: 5px solid orange; */
		border-radius: 2px;
		bottom: 0;
		display: flex;
		height: 60px;
		justify-content: space-around;
		position: fixed;
		width: 50vw;
		min-width: 375px;/*Fixando o menor valor aceito para pagination IPhoneSE*/
	}

	.ct-buttons {
		align-items: center;
		border-radius: 8px;
		background-color: #66B175;
		display: flex;
		height: 100%;
		justify-content: space-around;
		min-width: 100%;
		width: 100%;
	}


	.btn-pagination {
		border: none;
		border-radius: 12px;
		background-color: #1e1e1e;
		color: #66B175;
		font-size: 20px;
		font-weight: 700;
		height: 45px;
		width: 110px;
	}


	.btn-next {
		border: none;
		border-radius: 12px;
		background-color: #1e1e1e;
		font-size: 20px;
		font-weight: 700;
		color: #66B175;
		height: 45px;
		width: 110px;
	}

	.div-pagination {
		align-items: center;
		border-radius: 8px;
		display: flex;
		justify-content: center;
		background-color: #1e1e1e;
		height: 45px;
		width: 20%;
	}

	.div-pagination span{
		color: #66B175;
		font-size: 20px;
		font-weight: 700;
	}
}


/*

	375px 											1614px(min-width)
	|<<<∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞|-|∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞>>>
												1613px(max-width)
*/

@media (max-width: 960px) {


	.ct-pagination {
		/* border: 5px solid orange; */
		width: 70vw;
	}

}


/*

	375px 											1614px(min-width)
	|<<<∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞|-|∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞>>>
												1613px(max-width)
*/

@media (max-width: 650px) {


	.ct-pagination {
		/* border: 5px solid orange; */
		width: 85vw;
	}

}



/*

	375px 											1614px(min-width)
	|<<<∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞|-|∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞>>>
												1613px(max-width)
*/

@media (max-width: 450px) {
	.ct-pagination {
		/* border: 5px solid orange; */
		width: 95vw;
	}
}

