.ct-pagination {
	align-items: center;
	background-color: whitesmoke;
	border-radius: 12px;
	bottom: 0;
	display: flex;
	height: 80px;
	justify-content: space-around;
	position: absolute;
	width: 99.5%;
}


.ct-buttons {
	align-items: center;
	border-radius: 15px;
	background-color: #66B175;
	display: flex;
	height: 100%;
	justify-content: space-around;
	min-width: 40%;
	width: 40%;
}

.btn-pagination {
	background-color: whitesmoke;
	color: #212121;
	font-size: 22px;
	font-weight: 400;
}

.btn-next {
	background-color: whitesmoke;
	font-size: 22px;
	font-weight: 400;
	color: #212121;
}

.div-pagination {
	align-items: center;
	background-color: #EAEAEA;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	height: 80%;
	width: 30%;
}

.div-pagination span {
	color: #212121;
	font-size: 22px;
	font-weight: 400;
}

/* Se a janela do navegador for de 922px ou menor */
@media only screen and (max-width: 922px) {
	.ct-buttons {
		align-items: cneter;
		display: flex;
		height: 100%;
		justify-content: space-around;
		min-width: 40%;
		width: 50%;
	}

}

/* Se a janela do navegador for de 922px ou menor */
@media only screen and (max-width: 837px) {
	.ct-buttons {
		align-items: cneter;
		display: flex;
		height: 100%;
		justify-content: space-around;
		min-width: 40%;
		width: 60%;
	}

}
