/* Se a janela do navegador for de 2500px ou menor */
@media only screen and (max-width: 2500px) {
	.ct-search-title-boy img {
		border-radius: 50%;
		height: 220px;
		margin-top: 45px;
		min-height: 450px;
		min-width: 450px;
		width: 350px;
	}
}


/* Se a janela do navegador for de 950px ou menor */
@media only screen and (max-width: 950px) {
	.ct-search-title-boy img {
		display: none;
	}
}

