
@media (min-height: 751px ) {
	.ct-main-home {
		align-items: center;
		/* background: rgba(10, 180, 100, .5); */
		background-color: #1e1e1e;
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		width: 100vw;
	}

	.ct-data-base-structure{
		align-items: center;
		display: flex;
		height: 40%;
		justify-content: center;
		min-width: 375px;
		width: 80%;
	}
}

@media (max-height: 750px ) {
	.ct-main-home {
		align-items: center;
		background-color: #1e1e1e;
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		width: 100vw;
	}

	.ct-data-base-structure{
		align-items: center;
		display: flex;
		height: 40%;
		min-width: 375px;
		margin-bottom: 10px;
		justify-content: center;
		width: 80%;
	}
}

@media (max-height: 741px ) {
	.ct-data-base-structure{
		align-items: center;
		display: flex;
		height: 80%;
		justify-content: center;
		min-width: 375px;
		margin-top: 100px;
		width: 90%;
	}
}
