/*

	375px 													1614px(min-width)
	|--------------------------------------------------------|∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞>>>

*/

/* https://www.youtube.com/watch?v=ctiDWDq7C8E */
@media only screen and (min-width: 1614px) {
	.ct-main-home {
		align-items: center;
		background: rgba(0, 0, 0, 0.7);
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		width: 100vw;
	}

	.ct-data-base-structure{
		align-items: center;
		/* border: 10px solid green; */
		display: flex;
		height: 60%;
		justify-content: center;
		min-height: 500px;
		min-width: 375px;
		width: 90%;
	}

}

/*
	375px 											1614px(min-width)
	|<<<∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞|-|∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞>>>
												1613px(max-width)
*/

@media (max-width: 1613px) {
	.ct-main-home {
		align-items: center;
		background: rgba(10, 180, 100, .5);
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		min-width: 375px;
		width: 100vw;
	}

	.ct-data-base-structure{
		align-items: center;
		/* border: 10px solid green; */
		display: flex;
		height: 60%;
		justify-content: center;
		min-height: 510px;
		min-width: 375px;
		width: 90%;
	}
}


/*
	375px 											1614px(min-width)
	|<<<∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞|∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞|-|∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞>>>
						1251px				1613px(max-width)
*/

@media (max-width: 1251px) {
	.ct-main-home {
		align-items: center;
		background: rgba(10, 180, 100, .5);
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		width: 100vw;
	}

	.ct-data-base-structure{
		align-items: center;
		display: flex;
		height: 50%;
		justify-content: center;
		min-height: 420px;
		min-width: 375px;
		width: 80%;
	}
}


/*
	375px 											1614px(min-width)
	|<<<∞∞∞∞∞∞|∞∞∞∞∞∞∞∞∞∞∞∞∞∞|∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞|-|∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞>>>
			812px			1251px				1613px(max-width)
*/

@media (max-width: 914px) {
	.ct-main-home {
		align-items: center;
		background: rgba(10, 180, 100, .5);
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		width: 100vw;
	}

	.ct-data-base-structure{
		align-items: center;
		display: flex;
		height: 50%;
		justify-content: center;
		min-height: 420px;
		min-width: 375px;
		width: 95%;
	}
}


@media (max-width: 776px) {
	.ct-main-home {
		align-items: center;
		background: rgba(10, 180, 100, .5);
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		width: 100vw;
	}

	.ct-data-base-structure{
		align-items: center;
		display: flex;
		height: 50%;
		justify-content: center;
		min-height: 420px;
		min-width: 375px;
		width: 80%;
	}
}

