
.ct-main-home {
    align-items: center;
	border: 8px solid blue;
	/* background-color: ; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 25px;
    height: 90vh;
	min-height: 100px;
	width: 97vw;
}
