@media only screen and (max-width: 2500px) {
	.main-group-component {
	border:none;
	margin-top: 8px;
	}
	.ct-select-button {
		border: none;

	}
}



/* Se a janela do navegador for de 952px ou menor */
@media only screen and (max-width: 950px) {

	.main-group-component {
		display: flex;
		/* border: 2px solid red; */
		background: #1e1e1e;
		flex-direction: column;
		height: 260px;
		margin-top: 5px;
		margin-bottom: 5px;
		min-width: 420px;
		padding-top: 25px;
	}

	.ct-select-button {
		/* border: 2px solid red; */
		border: none;
		height: 17vh;
		flex-direction: column;
		padding-bottom: 10px;
		min-width: 420px;

	}

	.select-style {
		/* border: 2px solid orangered; */
		height: 65px;
		width: 400px;

	}

	input[type=text] {
		height: 70px;
		width: 400px;

	}

	.btn-go-search {
		color: #e1e1e1;
		font-size: 18px;
		font-weight: 500;
		height: 63px;
		letter-spacing: 10px;
		width: 400px;
	}

}


/* Se a janela do navegador for de 952px ou menor */
@media only screen and (max-width: 521px) {

	.main-group-component {
		display: flex;
		/* border: 2px solid red; */
		background: #1e1e1e;
		flex-direction: column;
		height: 260px;
		margin-top: 5px;
		/* margin-left: 5px; */
		margin-bottom: 5px;
		min-width: 420px;
		padding-top: 25px;
	}

	.ct-select-button {
		/* border: 2px solid red; */
		border: none;
		height: 17vh;
		flex-direction: column;
		padding-bottom: 10px;
		min-width: 420px;

	}

	.select-style {
		/* border: 2px solid orangered; */
		height: 65px;
		width: 400px;

	}

	input[type=text] {
		height: 70px;
		width: 400px;

	}

	.btn-go-search {
		color: #e1e1e1;
		font-size: 18px;
		font-weight: 500;
		height: 63px;
		letter-spacing: 10px;
		width: 400px;
	}

}

@media only screen and (max-width: 429px) {

	.main-group-component {
		display: flex;
		/* border: 2px solid red; */
		background: #1e1e1e;
		flex-direction: column;
		height: 260px;
		margin-top: 5px;
		/* margin-left: 5px; */
		margin-bottom: 5px;
		min-width: 370px;
		padding-top: 25px;
	}

	.ct-select-button {
		/* border: 2px solid red; */
		border: none;
		height: 17vh;
		flex-direction: column;
		padding-bottom: 10px;
		min-width: 370px;

	}

	.select-style {
		/* border: 2px solid orangered; */
		height: 65px;
		width: 370px;

	}

	input[type=text] {
		height: 70px;
		width: 370px;

	}

	.btn-go-search {
		color: #e1e1e1;
		font-size: 18px;
		font-weight: 500;
		height: 63px;
		letter-spacing: 10px;
		width: 370px;
	}

}
