.main-group-component {
	align-items: center;
	background-color: #1e1e1e;
	border-radius: 12px;
	display: flex;
	flex-direction: row;
	min-height: 80px;
	height: 80px;
	justify-content:space-around;
	min-width: 900px;
	padding: 8px 8px;
	width: 55%;
}

.ct-select-button {
	align-items: center;
	border: 4px solid orange;
	display: flex;
	justify-content: space-around;
	height: 8vh;
	min-height: 80px;
	padding: 4px 4px;
	min-width: 400px;
	width: 35%;
}

.select-style {
	border-radius: 8px;
	background: #66B175;
	box-shadow: none;
	color: whitesmoke;
	font-size: 18px;
	text-align: center;
	letter-spacing: 5px;
	height: 55px;
	width: 250px;
	-webkit-appearance: none;
}

input[type=text] {
	border-radius: 8px;
	background-color: #EAEAEA;
	border:2px solid #1e1e1e;
	height: 55px;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 5px;
	width: 50%;
	padding: 6px 6px;
	box-sizing: border-box;
}

.btn-go-search {
	border: none;
	height: 55px;
	width: 105px;
}
