
/*

	375px 											741px(min-width)
	|<<<∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞|-|∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞>>>

*/

/* @media (max-height: 899px) {

	.main-group-component {
		align-items: center;
		background-color: #1e1e1e;
		border: 8px solid orange;
		border-radius: 12px;
		display: flex;
		flex-direction: row;
		margin-top: 42px;
		margin-bottom: 10px;
		min-height: 80px;
		height: 80px;
		justify-content: space-around;
		min-width: 900px;
		padding: 8px 8px;
		width: 55%;
	}

} */
