.modal-ct-main-none {
	display: none;
}


.modal-ct-main-visible {
	display: flex;
	border-radius: 5px 185px 5px;
	background: rgba(10, 180, 100, .5);
	margin-top: 100px;
	margin-left: 1480px;
	max-height: 250px;
	max-width: 400px;
	z-index: 2000;
}

.modal-content {
	border-radius: 5px 185px 5px;
}

.modal-content p {
	font-size: 25px;
	font-weight: 700;
	color: #1e1e1e;
	letter-spacing: 2px;
}
