/*

	375px 													1614px(min-width)
	|--------------------------------------------------------|∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞>>>

*/

/* https://www.youtube.com/watch?v=ctiDWDq7C8E */
@media only screen and (min-width: 1614px) {
.modal-ct-main-none {
	display: none;

}

.modal-ct-main-visible {
	align-items:center;
	background: rgba(1, 205, 105, .1);
	border: 5px solid #1e1e1e;
	border-radius: 5px 185px 1px;
	display: flex;
	height: 25vh;
	justify-content: center;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 22.5vw;
	z-index: 2000;
}

.modal-content {
	align-items: center;
	border: 2px solid #1e1e1e;
	background: rgba(10, 180, 100, .5);
	border-radius: 5px 185px 1px;
	display: flex;
	height: 93%;
	justify-content: center;
	width: 93%;
}



.img-loading {
	border-radius: 5px 105px 5px;
	height: 150px;
	width: 150px;

}
}


/*

	375px 											1614px(min-width)
	|<<<∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞|-|∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞>>>
												1613px(max-width)
*/

@media (max-width: 1613px) {
	.modal-ct-main-none {
		display: none;
		align-items:
		center;
		background: rgba(0, 0, 0, .5);
		justify-content: center;
		/* border: 10px solid red; */
		height: 100vh;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100vw;
		z-index: 2000;
	}

	.modal-ct-main-visible {
		display: flex;
		align-items:
		center;
		background: rgba(0, 0, 0, .5);
		justify-content: center;
		/* border: 10px solid red; */
		height: 100vh;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100vw;
		z-index: 2000;
	}

	.modal-content {
		align-items: center;
		/* border-radius: 50%; */
		background: rgba(10, 180, 100, .5);
		display: flex;
		height: 100%;
		justify-content: center;
		width: 100%;
	}



	.img-loading {
		height: 150px;
		width: 150px;

	}
	}

