/* Se a janela do navegador for de 1920px ou menor */
@media only screen and (max-width: 1920px) {

	.navbar {
		background-color: #212121;
		border: none;
	}

	.navbar strong {
		color: #ffffff;
		font-size: 32px;
		padding: 2px 8px;
	}

	.container-logo {
		border: none;
		color: #e1e1e1;
	}

	button {
		border: none;
		background-color: #66B175;
		border-radius: 12px;
		color: #1e1e1e;
		font-size: 20px;
		font-weight: 600;
		/* padding-top: 12px; */
	}

	span {
		border: none;
		color: #e1e1e1;
		font-size: 32px;
		font-weight: 400;
	}

}

/* Se a janela do navegador for de 14442px ou menor */
@media only screen and (max-width: 1442px) {

	.navbar {
		border: none;
	}

	.navbar strong {
		color: #ffffff;
		font-size: 32px;
		padding: 2px 8px;
	}

	.container-logo {
		/* border: 8px solid brown; */
		color: #e1e1e1;
		width: 22%;
	}

	button {
		border: none;
		background-color: #66B175;
		border-radius: 12px;
		color: #1e1e1e;
		font-size: 20px;
		font-weight: 600;
	}

	span {
		border: none;
		color: #e1e1e1;
		font-size: 32px;
		font-weight: 400;
	}

}


/* Se a janela do navegador for de 994px ou menor */
@media only screen and (max-width: 994px) {
	.navbar {
		border: none;
	}

	.container-logo {
		/* border: 2px solid red; */
		width: 22%;
	}
}

@media only screen and (max-width: 950px) {

	.navbar {
		border: none;
	}

	.navbar strong {
		color: #ffffff;
		font-size: 32px;
		padding: 2px 8px;
	}

	.container-logo {
		border: none;
		width: 28%;
	}

	button {
		border: none;
	}

	span {
		border: none;
		color: #e1e1e1;
	}
}

/* Se a janela do navegador for de 817px ou menor
CONTINUAR DAQUI */
@media only screen and (max-width: 817px) {
	.container-logo {
		/* border: 2px solid red; */
		width: 35%;
	}
}

@media only screen and (max-width: 737px) {
	.container-logo {
		/* border: 2px solid red; */

		width: 35%;
	}
	span {
		/* border: 5px solid blue; */
		font-size: 32px;
		font-weight: 500;
		color: #e1e1e1;
	}

}

@media only screen and (max-width: 513px) {
	.container-logo {
		border: 2px solid red;

		width: 40%;
	}
	span {
		border: 5px solid blue;
		font-size: 32px;
		font-weight: 500;
		color: #e1e1e1;
	}

}

@media only screen and (max-width: 499px) {

	.navbar span{
		display: none;
	}

	.container-logo {
		border: 2px solid red;
		width: 40%;
	}


	span {
		border: 5px solid blue;
		font-size: 32px;
		font-weight: 500;
		color: #e1e1e1;
	}


}



@media only screen and (max-width: 450px) {

.navbar {
	align-items: center;
	background-color: #212121;
	border: 5px solid yellow;
	border-radius: 12px;
	display: flex;
	height: 90px;
	justify-content: space-between;
	margin-left: 40px;
	position: fixed;
	top: 1px;
	width: 110vw;
  }

	.container-logo {
		border: 2px solid red;

		width: 45%;
	}
	span {
		/* border: 5px solid blue; */
		font-size: 32px;
		font-weight: 500;
		color: #e1e1e1;
	}

}

