
.navbar {
  align-items: center;
  background-color: #212121;
  /* border: 5px solid yellow; */
  border-radius: 12px;
  display: flex;
  height: 90px;
  justify-content: space-between;
  /* overflow: hidden; */
  position: fixed;
  top: 1px;
  width: 99.5%;
}

.navbar strong{
	color: #ffffff;
	font-size: 32px;
	padding: 2px 8px;
}

.container-logo{
	align-items: center;
	/* border: 2px solid red; */
	display: flex;
	justify-content: center;
	height: 60px;
	width: 12%;
}

button{
	/* border: 2px solid red; */
  background-color: #66B175;
  border-radius: 12px;
  color: #00020A;
  height: 65px;
  width: 125px;
}

span{
	/* border: 2px solid red; */
  color: whitesmoke;
  font-size: 32px;
  font-weight: 400;
}

