
.navbar {
  align-items: center;
  background-color: #212121;
  border-radius: 12px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 99.5%;
}

.navbar strong{
	color: #e1e1e1e1;
	font-size: 32px;
}

.container-logo{
	align-items: center;
	display: flex;
	justify-content: space-around;
	height: 100%;
	width: 7%;
}

.logo-mettzer {
  height: 70px;
  width: 210px;
}

button{
  background-color: #66B175;
  border-radius: 12px;
  color: #00020A;
  height: 65px;
  width: 125px;
}

span{
  color: whitesmoke;
  font-size: 32px;
  font-weight: 400;
}

