.fotter{
    /*position: Podemos usar fixed, absolute e relative*/
      position: fixed;
      bottom: 0;
      height: 50px;
    }
  
    .bg-color-person {
      background-color: #89EDA8;    
    }