.lodad-main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.ct-oroganization {
    align-items: start;
    display: flex;
    height: auto;
    justify-content: space-between;
    width: 57%;
}

.img-boy {
    border: 1px solid black;
    border-radius: 50%;
    width: 250px;
    width: 250px;

}

.load-render {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100%;
}

.img-logo-load {
    border: none;
    border-radius: 50%;
    height: 50%;
    width: 50%;
}

h3 {
    font-size: 172px;
    font-weight: 400;
    letter-spacing: 25px;
    width: 98%;
}

/* Se a janela do navegador for de 800px ou menor */
@media only screen and (max-width: 800px) {
    .ct-oroganization {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        width: 100%;
    }
    h3{
        font-size: 122px;
        font-weight: 300;
        letter-spacing: 25px;
        width: 98%; 
    }
    
  }