/*

	375px 													1614px(min-width)
	|--------------------------------------------------------|∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞>>>

*/

/* https://www.youtube.com/watch?v=ctiDWDq7C8E */
@media only screen and (min-width: 1614px) {
	.ct-main-background{
		align-items: center;
		background:#1e1e1e ;
		border: 5px solid  #66B175;
		border-radius: 5px 105px 5px;
		display: flex;
		height: 40%;
		justify-content: center;
		width: 60%;
		min-width: 300px;
		max-width: 300px;

	}


	.sub-lodad-main {
		align-items: center;
		/* border: 5px solid red; */
		border-radius: 25px;
		color: #66B175;
		display: flex;
		height: 40%;
		min-height: 250px;
		justify-content: center;
		width: 30%;
		max-width: 400px;
		min-width: 300px;
	}


	.ct-oroganization {
		/* border: 10px solid yellowgreen; */
		align-items: start;
		display: flex;
		height: auto;
		min-height: 250px;
		justify-content: space-between;
		width: 100%;
		min-width: 280px;
		margin-left: 30px;
	}

	.img-logo {
		/* border: 1px solid black; */
		border-radius: 5px 500px 1px;
		width: 100px;
		width: 100px;

	}

	h3 {
		/* border: 8px solid yellow; */
		font-size: 52px;
		font-weight: 700;
		letter-spacing: 25px;
		min-height: 150px;
		width: 98%;
		min-width: 160px;
	}
}



/*

	375px 											1614px(min-width)
	|<<<∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞|-|∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞>>>
												1613px(max-width)
*/

@media (max-width: 1613px) {
	.ct-main-background{
		align-items: center;
		background:#1e1e1e ;
		border: 5px solid  #66B175;
		border-radius: 5px 105px 5px;
		display: flex;
		height: 40%;
		justify-content: center;
		width: 60%;
		min-width: 300px;
		max-width: 300px;

	}


	.sub-lodad-main {
		align-items: center;
		/* border: 5px solid red; */
		border-radius: 25px;
		color: #66B175;
		display: flex;
		height: 40%;
		min-height: 250px;
		justify-content: center;
		width: 30%;
		max-width: 400px;
		min-width: 300px;
	}


	.ct-oroganization {
		/* border: 10px solid yellowgreen; */
		align-items: start;
		display: flex;
		height: auto;
		min-height: 250px;
		justify-content: space-between;
		width: 100%;
		min-width: 280px;
		margin-left: 30px;
	}

	.img-logo {
		/* border: 1px solid black; */
		border-radius: 5px 500px 1px;
		width: 100px;
		width: 100px;

	}

	h3 {
		/* border: 8px solid yellow; */
		font-size: 52px;
		font-weight: 700;
		letter-spacing: 25px;
		min-height: 150px;
		width: 98%;
		min-width: 160px;
	}
}

@media (max-width: 764px) {.ct-main-background{
	align-items: center;
	background:#1e1e1e ;
	border: 5px solid  #66B175;
	border-radius: 5px 105px 5px;
	display: flex;
	height: 40%;
	justify-content: center;
	width: 60%;
	min-width: 300px;
	max-width: 300px;

}


.sub-lodad-main {
	align-items: center;
	/* border: 5px solid red; */
	border-radius: 25px;
	color: #66B175;
	display: flex;
	height: 40%;
	min-height: 250px;
	justify-content: center;
	width: 30%;
	max-width: 400px;
	min-width: 300px;
}


.ct-oroganization {
	/* border: 10px solid yellowgreen; */
	align-items: start;
	display: flex;
	height: auto;
	min-height: 250px;
	justify-content: space-between;
	width: 100%;
	min-width: 280px;
	margin-left: 30px;
}

.img-logo {
	/* border: 1px solid black; */
	border-radius: 5px 500px 1px;
	width: 100px;
	width: 100px;

}

h3 {
	/* border: 8px solid yellow; */
	font-size: 52px;
	font-weight: 700;
	letter-spacing: 25px;
	min-height: 150px;
	width: 98%;
	min-width: 160px;
}}
@media (max-width: 604px) {.ct-main-background{
	align-items: center;
	background:#1e1e1e ;
	border: 5px solid  #66B175;
	border-radius: 5px 105px 5px;
	display: flex;
	height: 40%;
	justify-content: center;
	width: 60%;
	min-width: 300px;
	max-width: 300px;

}


.sub-lodad-main {
	align-items: center;
	/* border: 5px solid red; */
	border-radius: 25px;
	color: #66B175;
	display: flex;
	height: 40%;
	min-height: 250px;
	justify-content: center;
	width: 30%;
	max-width: 400px;
	min-width: 300px;
}


.ct-oroganization {
	/* border: 10px solid yellowgreen; */
	align-items: start;
	display: flex;
	height: auto;
	min-height: 250px;
	justify-content: space-between;
	width: 100%;
	min-width: 280px;
	margin-left: 30px;
}

.img-logo {
	/* border: 1px solid black; */
	border-radius: 5px 500px 1px;
	width: 100px;
	width: 100px;

}

h3 {
	/* border: 8px solid yellow; */
	font-size: 52px;
	font-weight: 700;
	letter-spacing: 25px;
	min-height: 150px;
	width: 98%;
	min-width: 160px;
}}
@media (max-width: 500px) {.ct-main-background{
	align-items: center;
	background:#1e1e1e ;
	border: 5px solid  #66B175;
	border-radius: 5px 105px 5px;
	display: flex;
	height: 40%;
	justify-content: center;
	width: 60%;
	min-width: 300px;
	max-width: 300px;

}


.sub-lodad-main {
	align-items: center;
	/* border: 5px solid red; */
	border-radius: 25px;
	color: #66B175;
	display: flex;
	height: 40%;
	min-height: 250px;
	justify-content: center;
	width: 30%;
	max-width: 400px;
	min-width: 300px;
}


.ct-oroganization {
	/* border: 10px solid yellowgreen; */
	align-items: start;
	display: flex;
	height: auto;
	min-height: 250px;
	justify-content: space-between;
	width: 100%;
	min-width: 280px;
	margin-left: 30px;
}

.img-logo {
	/* border: 1px solid black; */
	border-radius: 5px 500px 1px;
	width: 100px;
	width: 100px;

}

h3 {
	/* border: 8px solid yellow; */
	font-size: 52px;
	font-weight: 700;
	letter-spacing: 25px;
	min-height: 150px;
	width: 98%;
	min-width: 160px;
}}

@media (max-width: 450px) {.ct-main-background{
	align-items: center;
	background:#1e1e1e ;
	border: 5px solid  #66B175;
	border-radius: 5px 105px 5px;
	display: flex;
	height: 40%;
	justify-content: center;
	width: 60%;
	min-width: 300px;
	max-width: 300px;

}


.sub-lodad-main {
	align-items: center;
	/* border: 5px solid red; */
	border-radius: 25px;
	color: #66B175;
	display: flex;
	height: 40%;
	min-height: 250px;
	justify-content: center;
	width: 30%;
	max-width: 400px;
	min-width: 300px;
}


.ct-oroganization {
	/* border: 10px solid yellowgreen; */
	align-items: start;
	display: flex;
	height: auto;
	min-height: 250px;
	justify-content: space-between;
	width: 100%;
	min-width: 280px;
	margin-left: 30px;
}

.img-logo {
	/* border: 1px solid black; */
	border-radius: 5px 500px 1px;
	width: 100px;
	width: 100px;

}

h3 {
	/* border: 8px solid yellow; */
	font-size: 52px;
	font-weight: 700;
	letter-spacing: 25px;
	min-height: 150px;
	width: 98%;
	min-width: 160px;
}
}

@media (max-width: 412px) {
	.ct-main-background{
		align-items: center;
		background:#1e1e1e ;
		border: 5px solid  #66B175;
		border-radius: 5px 105px 5px;
		display: flex;
		height: 40%;
		justify-content: center;
		width: 60%;
		min-width: 300px;
		max-width: 300px;

	}


	.sub-lodad-main {
		align-items: center;
		/* border: 5px solid red; */
		border-radius: 25px;
		color: #66B175;
		display: flex;
		height: 40%;
		min-height: 250px;
		justify-content: center;
		width: 30%;
		max-width: 400px;
		min-width: 300px;
	}


	.ct-oroganization {
		/* border: 10px solid yellowgreen; */
		align-items: start;
		display: flex;
		height: auto;
		min-height: 250px;
		justify-content: space-between;
		width: 100%;
		min-width: 280px;
		margin-left: 30px;
	}

	.img-logo {
		/* border: 1px solid black; */
		border-radius: 5px 500px 1px;
		width: 100px;
		width: 100px;

	}

	h3 {
		/* border: 8px solid yellow; */
		font-size: 52px;
		font-weight: 700;
		letter-spacing: 25px;
		min-height: 150px;
		width: 98%;
		min-width: 160px;
	}
}
