@media screen and (width: 375px) and (height: 667px) {
	.ct-main-background{
		display: flex;
		align-items: center;
		justify-content: center;
		/* border: 5px solid yellow; */
		height: 90%;
		width: 90%;
		min-width: 375px;
		background-color:#1e1e1e ;
	}
	.sub-lodad-main {
		align-items: center;
		/* border: 15px solid orangered; */
		/* background-color: black; */
		border-radius: 25px;
		color: #66B175;
		display: flex;
		height: 40%;
		min-height: 250px;
		justify-content: center;
		width: 40%;
		min-width: 375px;
	}

	.ct-oroganization {
		/* border: 10px solid yellowgreen; */
		align-items: start;
		display: flex;
		height: auto;
		min-height: 250px;
		justify-content: space-between;
		width: 80%;
		min-width: 320px;
	}

	.img-logo {
		/* border: 1px solid black; */
		border-radius: 5px 500px 1px;
		width: 100px;
		width: 100px;

	}

	h3 {
		/* border: 8px solid green; */
		font-size: 52px;
		font-weight: 700;
		letter-spacing: 25px;
		min-height: 150px;
		width: 98%;
		min-width: 160px;
	}

}

@media screen and (width: 667px) and (height: 375px) {
	.ct-main-background{
		display: flex;
		align-items: center;
		justify-content: center;
		/* border: 5px solid green; */
		height: 90%;
		width: 90%;
		min-width: 375px;
		background-color:#1e1e1e ;
	}
	.sub-lodad-main {
		align-items: center;
		/* border: 5px solid red; */
		/* background-color: black; */
		border-radius: 25px;
		/* border:10px solid #1e1e1e; */
		color: #66B175;
		display: flex;
		height: 40%;
		min-height: 250px;
		justify-content: center;
		width: 40%;
		min-width: 375px;
	}

	.ct-oroganization {
		/* border: 10px solid yellowgreen; */
		align-items: start;
		display: flex;
		height: auto;
		min-height: 250px;
		justify-content: space-between;
		width: 100%;
		min-width: 375px;
	}

	.img-logo {
		/* border: 1px solid black; */
		border-radius: 5px 500px 1px;
		width: 100px;
		width: 100px;

	}

	h3 {
		/* border: 8px solid green; */
		font-size: 52px;
		font-weight: 700;
		letter-spacing: 25px;
		min-height: 150px;
		width: 98%;
		min-width: 160px;
	}
}
