.content-main{
	border: 8px solid orangered;
    display: flex;
    height: 72vh;
	margin-top: 5px;
    overflow: auto;
    width: 88%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	display: flex;
	justify-content: center;
	padding: 10px;
	overflow-x: auto;
	width: 100%;
}

.btn-favorite {
	border: 3px solid orange;
	align-items: center;
	background-color: #66B175;
	border-radius: 12px;
	display: flex;
	height: 8vh;
	min-height: 100px;
	justify-content: center;
	min-width: 80px;
	width: 80px;
}

.btn-size-favorite {
	background-color: whitesmoke;
	border: none;
	width: 70%;
	height: 70%;
}


.rTable {
	text-align: center;
	width: 100%;
}

tr:nth-child(even) {
	background-color: #D3D3D3;
}

.line-break-authors{
	max-width: 250px;
	min-width: 100px;
	text-align: justify;
	text-transform: capitalize;
	word-wrap: break-word;
}


.line-break-authors li{
	text-transform: capitalize;

}

.line-break-title {
	max-width: 390px;
	min-width: 120px;
	text-align: justify;
	word-wrap: break-word;
}

.line-break-description {
	max-width: 450px;
	min-width: 200px;
	text-align: justify;
}

.line-break-link{
	max-width: 250px;
	min-width: 150px;
	text-align: center;
	vertical-align: middle;
	word-wrap: break-word;
}

.line-break-type{
	max-width: 100px;
	min-width: 100px;
	text-align: justify;
}

  /* Se a janela do navegador for de 922px ou menor */
  @media only screen and (max-width: 885px) {

	.line-break-type{
		display: none;
		max-width: 100px;
		min-width: 100px;
		text-align: justify;
	}


.line-break-title {
	background: #E8F0FE;
	display: none;
	max-width: 390px;
	min-width: 120px;
	text-align: justify;
	word-wrap: break-word;
}

  }
