/*Se ALTURA da janela for de 1920px e SUPERIOR aplique estilo*/
/* @media (min-height:1920px){
	.content-main{
		border-bottom: 10px solid #1e1e1e;
		border-radius: 10px;
		border-right: none;
		border-left: 10px solid #1e1e1e;
		border-top: 10px solid #1e1e1e;
		margin-top: 8px;
		height: 82vh;
		width: 85vw;

	}

	.line-break-authors-th {
		background-color: #1e1e1e;
		color: #e1e1e1;
		border-radius: 8px;
		text-align: center;
		letter-spacing: 5px;
	}

	.line-break-authors-td {
		max-width: 280px;
		min-width: 280px;
		width: 280px;
	}

	.line-break-type-th{
		display: none;

	}

	.line-break-type-td{
	display: none;
	}

	.line-break-title-th{
		display: none;
	}

	.line-break-title-td{
		display: none;
	}

	.line-break-decription-th {
		display: none;

	}

	.line-break-decription-td {
		display: none;
	}

	.line-break-url-th {
		background-color: #1e1e1e;
		color: #e1e1e1;
		border-radius: 8px;
		text-align: center;
		letter-spacing: 5px;
	}

	.line-break-url-td {
		max-width: 350px;
		min-width: 350px;
		text-align: justify;
	}.btn-favorite {
		align-items: center;
		background-color: #1e1e1e;
		border-radius: 12px;
		display: flex;
		height: 8vh;
		min-height: 100px;
		justify-content: center;
		min-width: 80px;
		width: 80px;
	}

	.btn-size-favorite {
		background-color: whitesmoke;
		border: none;
		width: 70%;
		height: 70%;
	}

	.line-break-favorite-th {
		background-color: #1e1e1e;
		color: #e1e1e1;
		border-radius: 8px;
		text-align: center;
		letter-spacing: 5px;
	}

	.line-break-favorite-td {
		display: flex;
		justify-content: center;
		width: 120px;
	}


} */
