.content-main{
	border: 8px solid orangered;
    display: flex;
    height: 72vh;
	margin-top: 5px;
    /* overflow: auto; */
    width: 99%;
}

table {
	/* border: 5px solid blue; */
	border-collapse: collapse;
	border-spacing: 0;
	display: flex;
	height: 100%;
	justify-content: center;
	padding: 10px;
	overflow-x: auto;
	width: 100%;
}

.btn-favorite {
	/* border: 3px solid orange; */
	align-items: center;
	background-color: #66B175;
	border-radius: 12px;
	display: flex;
	height: 8vh;
	min-height: 100px;
	justify-content: center;
	min-width: 80px;
	width: 80px;
}

.btn-size-favorite {
	background-color: whitesmoke;
	border: none;
	width: 70%;
	height: 70%;
}


.rTable {
	text-align: center;
	width: 100%;
}

tr:nth-child(even) {
	background-color: #D3D3D3;
}

.line-break-authors-td{
	display: flex;
	flex-wrap: wrap;
	height: 90px;
	max-height: 90px;
	min-height: 90px;
	max-width: 290px;
	min-width: 290px;
	text-align: justify;
	text-transform: capitalize;

}


.line-break-description {
	align-items: center;
	/* border: 2px solid red; */
	display: flex;
	flex-wrap: wrap;
	height: 90px;
	justify-content: start;
	max-height: 90px;
	min-height: 90px;
	max-width: 450px;
	min-width: 450px;
	margin-top: 6px;
	padding: 4px 4px ;
	text-align: justify;
	width: 450px;
}
.line-break-authors li{
	text-transform: capitalize;

}

.line-break-title-th {
	max-width: 390px;
	min-width: 120px;
	text-align: justify;
	word-wrap: break-word;
}


.line-break-title-td{
	max-width: 390px;
	min-width: 120px;
	text-align: justify;
	word-wrap: break-word;
}

.line-break-link{
	max-width: 250px;
	min-width: 150px;
	text-align: center;
	vertical-align: middle;
	word-wrap: break-word;
}

.line-break-type-th{
	max-width: 100px;
	min-width: 100px;
	text-align: justify;
}


.line-break-type-td{
	max-width: 100px;
	min-width: 100px;
	text-align: justify;
}
