body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.ct-main-header {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 8px;
  color: #212121;
  display: flex;
  height: 8vh;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 5px;
  /* margin-right: 5px; */
  width: 99vw;
}

.ct-size-header{
  align-items: center;
  border-radius: 12px;
  display: flex;
  /* background-color: #89EDA8; */
  border: 1px solid black;
  /* font-size: 18px; */
  justify-content: center; 
  margin: 0;
  padding: 0;
  font-weight: 500;
  letter-spacing: 5px;
  height: 100%;
  width: 100%;
}

.ct-main-home {
  align-items: center;
  background-color: #ffff;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 99.8%;
}

.ct-pagination {
  align-items: center;
  border-radius: 5px;
  /* background-color: #EAEAEA; */
  background-color: #89EDA8;
  padding: 20px;
  display: flex;
  height: 5.5vh;
  justify-content: start;
  margin-left:5px;
  /* position: absolute; */
  width: 99.8%;
}

.button-pagination {
  align-items: center;
  display: flex;
  border: none;
  border-radius: 8px;
  background-color: whitesmoke;
  height: 30px;
  margin-left: 7px;
  justify-content: center;
  width: 64px;
}

.ct-sub-search{
  align-items: center;
  display: flex;
  /* background-color:yellow; */

  justify-content: space-around;
  height: 100%;
  width: 40%;
}

.ct-search{
  align-items: center;
  border-radius: 8px;
  background-color: #89EDA8;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  min-height: 7vh;
  /* border: 3px solid green; */
  max-height: 20vh;
  width: 50%;
}

input[type=text] {
  border-radius: 8px;
  background-color: #EAEAEA;
  border: none;
  height: 90%;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 5px;
  width: 50%;
  padding: 6px 6px;
  box-sizing: border-box;
}

/* select{
  border-radius: 8px;
height: 90%;
width: 30%;  
} */


.ct-pagination-selector {
  
  /* background-color: #212121; */
  height: 30px;
  margin-left: 15px;
  width: 104px;
}

.selct-pagination{
  text-align: center;
  border: none;
  border-radius: 8px;
  background: #EAEAEA;
  box-shadow: none;
  font-size: 18px;
  letter-spacing: 5px;
  color: #212121;
  height: 100%;
  padding: 5px 8px;
  width: 100%;
  -webkit-appearance: none;
}

.select-style {
  border: none;
  border-radius: 8px;
  background: #EAEAEA;
  box-shadow: none;
  font-size: 18px;
  text-align: center;
  letter-spacing: 5px;
  /* margin-left: 12px; */
  color: #212121;
  height: 90%;
  /* padding: 15px 8px; */
  width: 70%;
  -webkit-appearance: none;
}

.btn-go-search{
  border-radius: 8px;
  height: 90%;
  width: 20%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: flex;
  justify-content: center;
  padding: 10px;
  overflow-x: auto;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #89EDA8
}

.ul-none {
  list-style-type: none;
}


@media only screen and (max-width: 1529px) {
  .media-resp-length{
    background-color: yellow;
    display: none;
  }
}


h1 {
  font-size: 30px;
  font-weight: 650;
  letter-spacing: 4px;
  margin-top: 10px;
  margin-left: 100px;
  }

p{
font-size: 15px;
font-weight: 500;
}


.logo-mettzer {
  height: 70px;
  width: 230px;
}

.btn-favorite{
  align-items: center;
  background-color: #89EDA8;
  border-radius: 12px;
  display: flex;
  height: 20vh;
  justify-content: center;
  width: 100%;
}

.btn-size-favorite{
  border: none;
  border-radius: 50%;
  width: 80%;
  height: 25%;
}

.btn-ir-favorite{
  background-color: #89EDA8;
  border-radius: 8px;
  border: none;
  height: 48px;
  width: 150px;
  
}

button:hover{
  background-color: #343A40;
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


