body {
align-items: center;
  background-color: #e1e1e1;
  /* border: 10px solid brown; */
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  justify-content: center;
  margin-left: 4px;
  margin-top: 5px;
  padding: 0;
  height: 99vh;
  width: 99.6vw;

}

.ul-none {
  list-style-type: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


